nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: royalblue;
};

.heading, .txt{
    align-content: center;
};

.body{
    align-items: center;
    
};