*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navigation styling */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #4b3d8f;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 1em;
};

.Logo{
    color: #b30f51;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke:1px  #e7e5df;
    padding: 0.5rem 1rem;
    border:3px solid #e7e5df;
}

.NavLinks{
    display: flex;
    background-color: none;
    justify-content: space-around;
    width: 30%;
    z-index: 1000;
    position: relative;
}

.NavLinks li{
    list-style: none;
    margin: 1rem;
    z-index: 1000;
}

.NavLinks a{
    color: #37a987;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    padding: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1000;
}

.Lines{
    display: none;
    cursor: pointer;
}

.Lines div{
    width: 25px;
    height: 5px;
    background-color: #e7e5df;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .NavLinks{
        width: 60%;
        
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .NavLinks{
        position: absolute;
        right: 0px;
        height: 92vh;
        top:8vh;
        background-color: #393e41;
        display:flex;
        flex-direction: column;
        width: 50%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
        z-index: 1000;
        overflow-x: hidden;
    }
    .NavLinks li{
        opacity: 1;
    }

    .Lines{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/*Body Styling for all pages*/

body{
    background-color: #0c0032;
}

.BGcolour {
    background-color: #0c0032;
}

.heading{
color: #b30f51;
text-align: center;
font-size: 3.5em;
font-family: 'Roboto', san-serif;
}

.heading2{
    color: #b30f51;
    text-align: center;
    font-size: 2em;
    font-family: 'Roboto', san-serif;
    }

.txt{
    color: whitesmoke;
    text-align: center;
    font-size: 1em;
    font-family: 'Roboto', san-serif;
    margin: .5em;
}

.txtcont{
    background-color: rgba(127,255,212,0.4);
    margin: 1em;
}

/*Blog page styling*/
div.BlogNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background: rgba(127,255,212,0.4);
    padding: 1rem;
    margin: 1em;
    text-decoration: none;
    height: auto;
}

.BlogNav button{
background-color: #4b3d8f;
width: 6em;
height: auto;
}

.BlogNav button a{
    color: #37a987;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    height: auto;
    width: 5em;
}

.Blogheading{
    color: #b30f51;
text-align: center;
font-size: 2em;
font-family: 'Roboto', san-serif;
}

/*Home page design*/

.plat-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    
    .itemwrap{
        position: relative;
    }
    
    .LP-BackGround{
    height: 350px;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    
    .imgtxtwrapper{
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        margin: 0.5rem;
    }
    
    .logowrap img{
        width: 50%;
        margin: auto;
        display: inline-block;
    position: relative;
    }
    
    .imgtxtwrapper .subtitle a{
    transition: 1s;
    font-weight: 600;
    color: transparent;
    overflow: hidden;
    }
    
    .imgtxtwrapper:hover .subtitle a{
        font-weight: 600;
        color: #b30f51;
        text-decoration: none;
    }
    
    .darken{
        transition: 1s;
        filter: brightness(10%);
    }

    /*internet art Pg style*/
    div.internetartbutton{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        background: rgba(127,255,212,0.4);
        padding: 1rem;
        margin: 1em;
        text-decoration: none;
        height: auto;
    }

    .internetartbutton button{
        background-color: #4b3d8f;
        width: 6em;
        height: auto;
        }
        
        .internetartbutton button a{
            color: #37a987;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            height: auto;
            width: 5em;
        }

        /*my first experiment styling*/
        .centericon{
            position: absolute;
            background:rgba(255, 255, 255, 0.342);
            color: rgba(216, 0, 223, 0.34);
            width: 400px;
            height: 400px;
            margin: 0 auto;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
        }
        .circle1{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border-style: solid;
            border-width: 0.25em;
            border-color: #b30f51 #23c71d #37a987 #e7e5df;
            box-sizing: border-box;
            animation: animateCircle1 5s linear infinite;
        }
        .circle2, .circle3, .circle4, .circle5, .circle6{
            position: relative;
            border-radius: 50%;
            border: 0.15em dashed #e7e5df2c;
        }

        .circle2{
            top: 25px;
            left: 25px;
            width: (100%-60px);
            height: (100%-60px);
            border-color: #23c71d;
            animation: animateCircle2 10s linear infinite;
        }

        .circle3{
            top: 35px;
            left: 35px;
            width: (100%-80px);
            height: (100%-80px);
            border-color: #b30f51;
            animation: animateCircle1 10s linear infinite;
        }

        .circle4{
            top: 55px;
            left: 55px;
            width: (100%-120px);
            height: (100%-120px);
            border-color: #37a987;
            animation: animateCircle2 10s linear infinite;
        }

        .circle5{
            top: 65px;
            left: 65px;
            width: (100%-60px);
            height: (100%-60px);
            border-color: #e7e5df;
            animation: animateCircle1 10s linear infinite;
        }

        .circle6{
            align-items: center;
            top: 135px;
            left: 135px;
            width: (100%-280px);
            height: (100%-280px);
            border-color: #23c71d;
            animation: animateCircle2 10s linear infinite;
        }